.fira-sans{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body{
    overflow-x: hidden;
   background-color:  rgb(245, 245, 245);
   margin-left:-12px;
  }
  main{
    margin-left:160px;   
  }
  

   /* Frame 2 */
  nav{   
 max-width: 1024px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 126px 15px 126px;
  margin-bottom: 20px;
  background-color:  rgb(245, 245, 245);
  
 } 

 nav ul{
  display: flex;
  align-items: center;
  gap: 718px;
 
 }
 nav ul li{
  list-style: none;
  
 }
 nav h5{
  font-weight: 700;
  font-size: 24px;
  color: rgb(14, 14, 14);
 }

 nav button{
  color: rgb(0, 106, 80);
  font-size: 11px;
  font-weight: 600;
  border-radius: 6px;
  padding: 8px 22px 8px 22px;
  border: 1px solid rgb(0, 106, 80);
  
 }

 /* frame 2 */

.banner {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
  max-width: 935px;
  border-radius: 24px;
  background: rgb(198, 228, 214); 
  margin-top: 20px; 
  padding: 20px;
  overflow: hidden;
}

.banner-content {
  flex: 1; 
}

.profile-img img {
  max-width: 100%; 
  height: auto;
  display: block; 
}

.banner-content h4{
  width: 466.5px;
  height: 21px;
  padding:0px;
  gap: 12;
  font-weight: 500;
  font-size: 18px;
  color: rgba(14, 14, 14, 0.5);
}
.banner-content p{
  width: 466.5px;
  height: 150.75px;
  gap: 12;
  padding: 0px;
  margin: 12px 0px;
  font-size: 42px;
  font-weight: 700;
  color: rgb(14, 14, 14);
}
.banner-content button{
  width: 202.5px;
  height: 42px;
  font-size: 10.5px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  gap: 36;
  padding: 12.75px 25.5px 12.75px 25.5px;
 background: rgb(0, 106, 80);
  border: none;

}
/* frame 3 */

.main-title{
  font-size:30px;
  margin-top: 60px;
  
}
.pillar-container{
  display:flex;
  max-width:935px ;
  height: 210px;
  gap: 9px;
}
 .pillar{
  background: rgb(255, 255, 255);
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
 } 
 .pillar-img{
  width: 46.5px;
  height: 46.5px;
 }
 .pillar-title{
  position: static;
 
  color: rgba(14, 14, 14, 0.8);
  font-size: 15px;
  font-weight: 700;
 }
 .pillar-description{
  position: static;
  width: 190.5px;
  height: 54px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 12px;
  font-weight: 400;

 }

 /* frame 4 */

 .vision-top{
  margin-top: 55px;
 }
 .vision-top h1{
  font-size:30px;
 }
 .vision-top p{
  color: rgba(14, 14, 14, 0.7);
  max-width: 935px;
  font-size: 12px;
  font-weight: 300px;
  line-height: 16px;

 }
.vision-container{
  display: flex;
  max-width:990px ;
  height: 300px;
  margin-top: 25px;
  gap:13.5px;
  
}
.vision{
  gap: 24;
  padding: 32px;
  border-radius: 12px;
}
.vision-img{
  width: 46.5px;
  height: 46.5px;
}
.vision-title{
  font-size: 15px;
  font-weight: 700;
}
.vision-description{
  font-size: 12px;
  font-weight: 400;
  width: 255px;
  height:54px;
  color:rgba(14, 14, 14, 0.7)

}

.class-1{
  background: rgba(84, 144, 245, 0.2);
}
.class-2{
  background: rgb(198, 228, 214);
}
.class-3{
  background: rgb(247, 235, 207);
}
.vision-btn{
  width: 97.6px;
  height: 32.8px;
  padding: 8.8px 16px 8.8px 16px;
  border-radius: 6.4px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 600;
  margin-top: 35px;
}
.blue{
  background:rgb(84, 144, 245)
}
.green{
  background: rgb(9, 161, 92);
}
.yellow{
  background: rgb(255, 194, 57);
}

/* frame 5 */
.frame-5{
  max-width: 970px;
  height: 150px;
  margin-top: 22px;
  padding: 5px 3px 25px 12px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 12px;
  background: rgb(255, 255, 255);
}
.frame-5 p{
  color: rgba(14, 14, 14, 0.8);
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 30px;
}
.mark{
  position:absolute;
  width:50.86px;
  height: 60.86px;
  color: rgba(14, 14, 14, 0.3); 
}
.dr{
  font-size: 14px;
}
.frame-5 .rank{
  margin-top: 5px;
}
/* frame 6 */
.table-container{
  max-width: 942px;
  height: 230px;
  margin-left: px;
  border-radius: 12px;
  padding: 25px;
  background: rgb(255, 255, 255);
}
.frame-6 h4{
  font-size:30px;
}
.table{
  width: 930px;
  height: 225px;
  border-collapse: collapse;
  padding:auto;
}
thead td{
  font-size:16px;
  background: rgb(198, 228, 214);
  padding: 10px 10px 10px 10px;
}
td{
  border: 1px solid rgba(14, 14, 14, 0.15);
  font-size:12px;
  padding-left:10px;
}
.your-option{
  padding-left:52px;
}
  
td select{
  font-size:12px;
  background: rgb(198, 228, 214);
  padding: 10px;
  margin-left:60px;
}

/* .frame-7 */

.frame-7-title h1{
  font-size:30px;
  font-weight: 700;
  margin-bottom: 2px;
}
.frame-7-title p{
  color: rgba(14, 14, 14, 0.7);
  max-width: 935px;
  font-size: 12px;
  font-weight: 300px;
  line-height: 16px;
}
.report-container{
  display: flex;
  max-width: 935px;
  height: 230px;
  justify-content: center;
  align-items: center;
  margin-left: px;
  border-radius: 12px;
  padding: 30px;
  margin-top: 15px;
  gap: 25px;
  background: rgb(255, 255, 255);
}
.satelite img{
  width: 306px;
  height: 230px;
  border-radius: 17px;

}
  
.report-title{
  color: rgba(14, 14, 14, 0.8);
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

}
.date-time{
  color: rgba(14, 14, 14, 0.7);
  max-width: 935px;
  font-size: 12px;
  font-weight: 300px;
  line-height: 16px;
}
.report-description{
  color: rgba(14, 14, 14, 0.7);
  max-width: 935px;
  font-size: 11px;
  font-weight: 300px;
  line-height: 12px;
}
.report button{
  position: static;
  width: 90px;
  height: 30px;
  background-color:  rgb(0, 106, 80);;
  border: none;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 600;
  line-height: 16.5px;
}

/* frame-8 */
.frame-8{
  padding:10px 100px 10px 0px ;
}

.box-container{
  display: flex;
  position: static;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-left: 0;

}
.box-container .green{
  background: rgb(198, 228, 214);
}
.box-container div{
  height: 96px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  align-content: center;
  font-weight: bold;
  font-size: 25px;
  color: rgba(14, 14, 14, 0.8);
  padding-left: 50px;
  padding-right: 50px;
}
.frame-8 h1{
  text-align: center;
  font-size:30px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 700;
}
.frame-8 p{
  color: rgba(14, 14, 14, 0.8);
  max-width: 935px;
  margin-left:50px ;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
}
 .form{
  text-align: center;
  margin-top: 15px;
  border: none;
  
}
 
.box-btn button{
  margin-left:460px ;
  margin-top: 15px;
  height: 30px;
  font-size:12px ;
  padding: 5px 10px 5px 10px ;
  border: none;
  border-radius: 6px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
}

/* frame-9 */

.frame-9{
  border-radius: 12px;
  max-width: 890px;
  margin-top: 60px;
  background: rgb(198, 228, 214);
  padding: 40px 55px 40px 55px;
}

.frame-9 h1{
  text-align: center;
  font-size:30px;
  font-weight: 700;
  margin-bottom: 5px;
}

.frame-9 p{
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: rgba(14, 14, 14, 0.8);
}

.email-container{
  height: 30px;
  display: flex;
  border: none;
  margin-left: 325px;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
}
.my-email{
  border-right: none;
  border: none;
}
.sub-btn{
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
} 

/* .frame-10 */
.frame-10{
  width: 1280px;
  height: 150px;
  padding: 20px 20px;
  background: rgb(255, 255, 255);
  margin-top: 80px;
}

.frame-10 h3{
  font-size:30px;
  font-weight: 700;
  text-align: center;
  color: rgb(14, 14, 14);
}
.social-icon{
  display: flex;
  height: 10px;
  margin-left:587px ;
  gap: 15px;
}
/* hover  */

.vision-box .vision-container div:hover{
  background-color:gray;
  cursor: pointer;
}
.vision-box .vision-container button:hover{
  background-color:blanchedalmond;
  color: black;
  transform: scale(1.1);
}
.frame-7 .report-container .report button:hover{
  background-color:blanchedalmond;
  color: black;
  transform: scale(1.1);
}
.frame-8 .box-container div:hover{
  background-color:gray;
  cursor: pointer;
}
.frame-8 button:hover{
  background-color:blanchedalmond;
  color: black;
  transform: scale(1.1);
}